Django==1.6.1
Mako==1.0.0
MarkupSafe==0.23
MySQL-python==1.2.5
argparse==1.2.1
astroid==1.2.1
click==3.3
django-crispy-forms==1.4.0
django-mako==0.1.3
django-pipeline==1.3.26
-e git+https://github.com/duoduo369/django-xadmin.git@fc0736a89caa887456f1104464d370eea0ce9a45#egg=django_xadmin-0.5.1
futures==2.2.0
gunicorn==19.1.1
ipython==2.3.1
logilab-common==0.63.0
meld3==1.0.0
pylint==1.3.1
pylint-django==0.5.5
pylint-plugin-utils==0.2.2
python-memcached==1.53
pytz==2014.9
sh==1.09
six==1.8.0
supervisor==3.1.3
wsgiref==0.1.2
