# -*- coding: utf-8 -*-
<%namespace name='static' file='/common/static_pipeline.html'/>
<%namespace name='upload_lib' file='/common/uploadfile.html'/>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>django pipeline demo</title>
    <link rel="stylesheet" href="${static.url('css/index.css')}" type="text/css" media="all" />
    <style type="text/css">p { border:5px solid green;}</style>
    <script type="text/javascript" charset="utf-8" src="${static.url('js/jquery-2.1.1.min.js')}"> </script>
    <script type="text/javascript" charset="utf-8" src="${static.url('js/index.js')}"> </script>
    <script type="text/javascript" charset="utf-8" src="${static.url('js/plupload.full.min.js')}"> </script>
  </head>
  <body>
    index.html
    <div class="black">
      black
    </div>
    <div>
      none
    </div>
    <ul id="filelist"></ul>
    <br />
    <img src="" alt=""/>
    <br />

    <div id="container">
        <a id="browse" href="javascript:;">[Browse...]</a> 
        <a id="start-upload" href="javascript:;">[Start Upload]</a>
    </div>
    <pre id="console"></pre>
    <form method="post" action="">
      <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
    </form>
    <script type="text/javascript">

      var config = ${upload_lib.plupload_default_config()};
      var uploader = new plupload.Uploader(config);

      uploader.init();
      function showImagePreview(file, toDom ) {
        var item = $( "<li id="+ file.id + "></li>" ).prependTo( toDom );
        var image = $( new Image() ).appendTo( item );
        image.addClass('preview')
        $('<b></b>').appendTo(item);
        var preloader = new mOxie.Image();
        preloader.onload = function() {
            preloader.downsize( 100, 100 );
            image.prop( "src", preloader.getAsDataURL() );
        };
        preloader.load( file.getSource() );
      }
      uploader.bind('FilesAdded', function(up, files) {
          dom = $('#filelist')
          plupload.each(files, function(file) {
            if(!file.type.match('image')){
              $('<li id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b ></b></li>').appendTo(dom)
            } else {
              showImagePreview(file, dom)
            }
          });
      });
      uploader.bind('UploadProgress', function(up, file) {
          document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
      });
      uploader.bind('QueueChanged', function(up, file){
          if(up.files.length > 1){
            up.files.splice(1, up.files.length);
            this.trigger('Error', {
              code : plupload.FILE_DUPLICATE_ERROR,
              message : plupload.translate('Duplicate file error.'),
              file : file
            });
          }
      })
      uploader.bind('Error', function(up, err) {
          document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;
      });
      document.getElementById('start-upload').onclick = function() {
          uploader.start();
      };
    </script>
  </body>
</html>
